@{
  Layout = "_Layout";
}
<form class="" action="/" method="post">
  <label for="makemodel">Make/Model:</label>
  <input type="text" name="makemodel" value="">
  <br>
  <label for="price">Price:</label>
  <input type="text" name="price" value="">
  <br>
  <label for="miles">Miles:</label>
  <input type="text" name="miles" value="">
  <button class="btn btn-primary" type="submit" name="button">Submit</button>
</form>
