@{
  Layout = "_Layout";
}
<button class="btn btn-success" type="button" name="addcar" onclick="window.location.href='/cars/new'">Add a car</button>
<button class="btn btn-primary" type="button" name="viewcars" onclick="window.location.href='/cars'">View all cars</button>
